<div class = "NakedVoices_Banner">
<h1>Naked Voices</h1>
</div>

<h4 class = "above_slides">
I am the President of Naked Voices, a student-run A Cappella group at UCSB. We travel all over California competing with only our voices. Check out some of our videos below!
<%=link_to "Go back to music page", music_path, class: "btn btn-primary btn-sm"%>
</h4>


<div class = "bottom_banner">

<div id="myCarousel" class="carousel slide" data-interval=4000 data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active carouselImg">
          <center><iframe width="410" height="225" src="https://www.youtube.com/embed/e4-Bvw6lWQ8" frameborder="0" allowfullscreen></iframe></center>
    </div>


    <div class="item carouselImg">
      		<center><iframe width="410" height="225" src="https://www.youtube.com/embed/3BdTtoQJEHw" frameborder="0" allowfullscreen></iframe></center>
    </div>
    

    <div class="item carouselImg">
          <center><iframe width="410" height="225" src="https://www.youtube.com/embed/BzzLTp0jQUA" frameborder="0" allowfullscreen></iframe></center>
    </div>
    

    <div class="item carouselImg">
      <%=image_tag "nakedvoicesthumbnail.jpg", class:"carouselImg"%>
      <h3 href = "https://www.youtube.com/user/NakedVoices" class="carousel-caption">
        Check out more of Naked Voice's youtube videos!
        </h3>
        <p href = "https://www.facebook.com/UCSBLetsSingNakey/" class="carousel-caption">Or check us out on Facebook!</p>
    </div>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>