// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.About_Banner {
  background-image: url(openfield.jpg); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}