// Place all the styles related to the Interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Interests_Banner {
  background-image: url(yosemitepanorama.jpg); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}

.Travel_Banner {
  background-image: url(moherpanorama.jpg); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}

.Music_Banner {
  background-image: url(reelloudpanorama.jpg); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}
.NakedVoices_Banner {
  background-image: url(naked_voices_banner.jpg); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 10%;
}

